.game {
  border: inset #CCCCCC 3px;
  margin: auto;
  padding: 20px;
  display: flex;
  max-width: 1200px;
  animation: jumpIn 0.7s;
}

@keyframes jumpIn {
  from {
    opacity: 0;
    transform: scale3d(5, 5, 3);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
