.App {
    text-align: center;
}


.Game {
    border: inset #CCCCCC 3px;
    margin: auto;
    padding: 20px;
    width: 1200px;
    display: inline-flex;
}

.Simulation {
    border: solid black 1px;
    width: 100%;
    padding: 5px 10px 10px;
    margin: auto auto auto 10px;
    text-align: left;
}

.Creator {
    border: solid black 1px;
    display: block;
    width: 500px;
    padding: 10px;
    margin: auto;
}

form {
    /* Center the form on the page */
    margin:auto;
    width: 100%;
    display: block;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 20%;
    text-align: right;
}

input {
    display: inline-block;
    width: 77%;
}

.Slider {
    display: flex;
}
.Slider >input {
    width: 200px;
}